<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>YOUR_PROJECT_NAME</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>ver_prefrence</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow calls over 3G</string>
			<key>Key</key>
			<string>key_prefrence</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<false/>
			<key>FalseValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Please note that your carrier may charge based on data usage if you enable calls over 3G.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Legal</string>
			<key>File</key>
			<string>child</string>
		</dict>
	</array>
</dict>
</plist>
